<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>isMultiple</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <a href="{{'ismultiple' | wikiUrl}}">
      GitHub
    </a>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="ion-text-wrap">
      Usage of <b>isMultiple</b> field.
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable [(ngModel)]="selectedPorts" itemValueField="id"
      itemTextField="name" [items]="ports" [canClear]="true"
      [isMultiple]="true">
    </ionic-selectable>
  </ion-item>
</ion-content>
