<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Item right template</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <a href="{{'item-right-template' | wikiUrl}}">GitHub</a>
  </ion-item>
  <ion-item lines="full">
    <ion-label text-wrap>
      Usage of <b>item right template</b>.
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable [(ngModel)]="port" itemValueField="id" itemTextField="name"
      [items]="ports">
      <ng-template ionicSelectableItemRightTemplate let-port="item">
        <img class="country-flag" [src]="port.country.flagUrl" />
      </ng-template>
    </ionic-selectable>
  </ion-item>
</ion-content>
