<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Use cases</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <ion-label class="ion-text-wrap">
      Usage of Ionic <b>InfiniteScroll</b> with <b>isMultiple</b> true.
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ports</ion-label>
    <ionic-selectable [(ngModel)]="port" itemValueField="id"
      itemTextField="name" [items]="ports" [canSearch]="true"
      [isMultiple]="true" [hasInfiniteScroll]="true"
      (onSearch)="searchPorts($event)"
      (onInfiniteScroll)="getMorePorts($event)">
    </ionic-selectable>
  </ion-item>
</ion-content>
