// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// Fix toolbar bottom padding in footer.
.ios ion-footer .toolbar[padding] {
  padding-bottom: $content-padding;
}

.country-flag {
  display: inline-block;
  width: 20px;
}

.value-country-flag {
  display: inline-block;
  width: 20px;
  max-width: 100%;
  height: auto;
}
