<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Selectable v4
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-list-header color="light">Use cases</ion-list-header>
      <ion-item detail="true" href="/basic">
        Basic
      </ion-item>
      <ion-item detail="true" href="/cascading">
        Cascading
      </ion-item>
      <ion-item detail="true" href="/disabling-items">
        Disabling items
      </ion-item>
      <ion-item detail="true" href="/find-ports">
        Find ports
      </ion-item>
      <ion-item detail="true" href="/inside-modal">
        Inside Modal
      </ion-item>
      <ion-item detail="true" href="/initial-value">
        Initial value
      </ion-item>
      <ion-item detail="true" href="/infinite-scroll">
        InfiniteScroll
      </ion-item>
      <ion-item detail="true" href="/infinite-scroll-is-multiple">
        InfiniteScroll - isMultiple
      </ion-item>
      <ion-item detail="true" href="/labels">
        Labels
      </ion-item>
      <ion-item detail="true" href="/primitive-types">
        Primitive types
      </ion-item>
      <ion-item detail="true" href="/on-search">
        Search by several item fields
      </ion-item>
      <ion-item detail="true" href="/on-search">
        Search items asynchronously
      </ion-item>
      <ion-item detail="true" href="/virtual-scroll">
        VirtualScroll
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Forms</ion-list-header>
      <ion-item detail="true" href="/form-control">
        FormControl
      </ion-item>
      <ion-item detail="true" href="/min-max-selection">
        Min/max selection
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Grouping</ion-list-header>
      <ion-item detail="true" href="/grouping">
        Grouping items
      </ion-item>
      <ion-item detail="true" href="/grouping-virtual-scroll">
        Grouping items with VirtualScroll
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Editing</ion-list-header>
      <ion-item detail="true" href="/editing">
        Adding, editing and deleting items
      </ion-item>
      <ion-item detail="true" href="/editing-async">
        Adding, editing and deleting items asynchronously
      </ion-item>
      <ion-item detail="true" href="/adding-on-search-fail">
        Adding item when search fails
      </ion-item>
      <ion-item detail="true" href="/adding-on-search-fail-async">
        Adding item asynchronously when search fails
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Templates</ion-list-header>
      <ion-item detail="true" href="/close-button-template">
        Close button template
      </ion-item>
      <ion-item detail="true" href="/footer-template">
        Footer template
      </ion-item>
      <ion-item detail="true" href="/group-template">
        Group template
      </ion-item>
      <ion-item detail="true" href="/group-end-template">
        Group end template
      </ion-item>
      <ion-item detail="true" href="/header-template">
        Header template
      </ion-item>
      <ion-item detail="true" href="/icon-template">
        Icon template
      </ion-item>
      <ion-item detail="true" href="/item-template">
        Item template
      </ion-item>
      <ion-item detail="true" href="/item-end-template">
        Item end template
      </ion-item>
      <ion-item detail="true" href="/item-icon-template">
        Item icon template
      </ion-item>
      <ion-item detail="true" href="/message-template">
        Message template
      </ion-item>
      <ion-item detail="true" href="/multiple-values-template">
        Multiple values template
      </ion-item>
      <ion-item detail="true" href="/values-ellipsis-template">
        Multiple values with ellipsis template
      </ion-item>
      <ion-item detail="true" href="/placeholder-template">
        Placeholder template
      </ion-item>
      <ion-item detail="true" href="/search-fail-template">
        Search fail template
      </ion-item>
      <ion-item detail="true" href="/title-template">
        Title template
      </ion-item>
      <ion-item detail="true" href="/value-template">
        Value template
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Fields</ion-list-header>
      <ion-item detail="true" href="/can-clear">
        canClear
      </ion-item>
      <ion-item detail="true" href="/close-button-text">
        closeButtonText
      </ion-item>
      <ion-item detail="true" href="/is-enabled">
        isEnabled
      </ion-item>
      <ion-item detail="true" href="/is-multiple">
        isMultiple
      </ion-item>
      <ion-item detail="true" href="/placeholder">
        placeholder
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Methods</ion-list-header>
      <ion-item detail="true" href="/scroll-to-top">
        scrollToTop()
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header color="light">Events</ion-list-header>
      <ion-item detail="true" href="/on-search">
        onSearch
      </ion-item>
      <ion-item detail="true" href="/should-store-item-value">
        shouldStoreItemValue
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
