<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Find Ports</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Country</ion-label>
    <ionic-selectable [(ngModel)]="country" itemValueField="id"
      itemTextField="name" [items]="countries" [canSearch]="true"
      (onChange)="countryChange($event)">
      <ng-template ionicSelectableItemEndTemplate let-country="item">
        <img class="country-flag" [src]="country.flagUrl" />
      </ng-template>
      <ng-template ionicSelectableValueTemplate let-country="value">
        <div class="ionic-selectable-value-item">
          <img class="country-flag" [src]="country.flagUrl" />
          {{country.name}}
        </div>
      </ng-template>
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable [(ngModel)]="port" itemValueField="id"
      itemTextField="name" [items]="ports" [canSearch]="true" [canClear]="true"
      (onSearch)="searchPorts($event)">
      <ng-template ionicSelectableItemEndTemplate let-port="item">
        <ion-badge color="light" *ngIf="port.timeZone">
          UTC{{portService.formatTimeZone(port.timeZone)}}
        </ion-badge>
      </ng-template>
    </ionic-selectable>
  </ion-item>
</ion-content>
