<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Templates</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <a href="{{'header-template' | wikiUrl}}">
      GitHub
    </a>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="ion-text-wrap">
      Setting header template.
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Port</ion-label>
    <ionic-selectable #portComponent [(ngModel)]="port" itemValueField="id"
      itemTextField="name" [items]="ports" closeButtonSlot="end">
      <ng-template ionicSelectableHeaderTemplate>
        <ion-toolbar>
          <ion-buttons [slot]="portComponent.closeButtonSlot">
            <ion-button (click)="portComponent.close()">
              {{portComponent.closeButtonText}}
            </ion-button>
          </ion-buttons>
          <ion-title>
            {{portComponent.label}}
          </ion-title>
        </ion-toolbar>
      </ng-template>
    </ionic-selectable>
  </ion-item>
</ion-content>
